.container-main {
    display: flex;
    max-height: 963px;
    margin-right: 56px;

    .main-info {
        margin-top: 210px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-info-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                padding: 4px 0;
                font-size: 38px;
                font-family: $font-base;
                color: $color-darkgrey;
                text-align: center;
            }
        }

        .decor {
            margin-top: 25px;
            background: url("../../assets/Decoration.svg");
            width: 253px;
            height: 33px;
        }

        .main-info-btns {
            margin-top: 65px;
            display: flex;
            padding-bottom: 271px;
            
            button {
                width: 310px;
                height: 120px;
                margin: 0 22px;
                font-size: 36px;
                text-transform: uppercase;
                color: $color-darkgrey;
                font-family: $font-base;
                font-weight: 300;
                background-color: white;
                border: 0.75px solid $color-darkgrey;
            }
        }
    }
}
