@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    .contact-photo {
        height: 100%;
        width: 100%;
        background: url('../../assets/Background-Contact-Form.jpg') no-repeat;
        background-size: cover;
        opacity: 0.4;
        position: absolute;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        z-index: 2;
        position: absolute;
        left: 50%;   

        .contact-form-title{
            font-size: 38px;
        }
        
        .decor {
            background: url("../../assets/Decoration.svg");
            width: 253px;
            height: 33px;
            display: flex;
            margin-bottom: 30px;
        }

        .contact-form-details {
            display: flex;
            flex-direction: column;
        }
    
    }



    .contact-form-info {
        display: flex;
        padding-bottom: 30px;

        input {
            height: 30px;
            background: none;
            border: none;
            border-bottom: 1px solid $color-darkgrey;
        }
    }

    .contact-form-input {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            font-weight: 600;
        }

        textarea {
            height: 135px;
            font-family: $font-base;
            background: none;
            border: none;
            border-bottom: 0.75px solid $color-darkgrey;
        }
    }

    .contact-form-btn {
        width: 150px;
        height: 50px;
        background: none;
        font-size: 24px;
        border: 0.75px solid $color-darkgrey;
        outline: none;
        margin-top: 15px;
        align-self: flex-end;
    }
}