@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";

.main-decor {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-decor-title {
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 500px;
    padding: 4px 0;
    font-size: 38px;
    font-family: $font-base;
    color: $color-darkgrey;
    text-align: center;
  }
  .main-decor-icon {
    width: 253px;
    height: 30px;
    background: url("../../assets/Decoration.svg") no-repeat;
    padding-bottom: 30px;
  }
}
