@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .steps-header {
        margin-top: 55px;
        text-align: center;
        font-size: 38px;
        font-family: $font-base;
        letter-spacing: -0.76px;
        color: $color-darkgrey;
    }

    .simple-steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-dirty-white;
        height: 325px;
        width: 100%;
        margin-top: 39px;

        .single-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 164px;
            height: 190px;
            color: $color-darkgrey;
            font-family: $font-base;
            text-align: center;

            .icon {
                width: 83px;
                height: 83px;
                margin-bottom: 10px;
            }

            .icon1 {
                background-image: url('../../assets/Icon-1.svg');
            }

            .icon2 {
                background-image: url('../../assets/Icon-2.svg');
            }

            .icon3 {
                background-image: url('../../assets/Icon-3.svg');
            }

            .icon4 {
                background-image: url('../../assets/Icon-4.svg');
            }

            .single-box-header {
                text-align: center;
                font-size: 18px;
                position: relative;
                bottom: 10px;
            }

            h4::before{
                content: "";
                position: absolute;
                width: 70px;
                height: 0.5px;
                bottom: -20px;
                background-color: $color-darkgrey;
            }
        }
    }

    .four-footer {
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    
        .four-button {
          padding: 0 50px;
          border: 0.75px solid $color-darkgrey;
          margin: 5px;
          width: 310px;
          height: 120px;
          font-size: 36px;
          color: $color-darkgrey;
          background: none;
          outline: none;
        }
    
        .four-button:hover {
          cursor: pointer;
        }    
    }    
}